---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { Content } from '../content/work.mdx'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
projects.sort((a, b) => {
  return (a.data.order ?? 99) - (b.data.order ?? 99)
})
---

<Layout>
  <PageHead slot="head" title="Work" />
  <div class="mx-auto w-full max-w-[calc(var(--container-3xl)-2rem)]">
    <Breadcrumbs items={[{ label: 'Work', icon: 'lucide:briefcase' }]} />
  </div>

  <section
    class="mx-auto flex max-w-[calc(var(--container-3xl)-2rem)] flex-col gap-4"
  >
    <article class="prose">
      <Content />
    </article>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </section>
</Layout>
