---
import { SOCIAL_LINKS } from '@/consts'
import SocialIcons from './SocialIcons.astro'
---

<footer class="py-4">
  <div
    class="mx-auto flex max-w-3xl flex-col items-center justify-center gap-y-2 px-4 sm:flex-row sm:justify-between"
  >
    <p class="text-muted-foreground text-xs">
      &copy; {new Date().getFullYear()} yifan
    </p>  <SocialIcons links={SOCIAL_LINKS} />
  </div>
</footer>
